html {
	height: 100%;
}

body {
	height: 100%;
	margin: auto;
	text-align: center;
}

/**
 * header
 */

header {
    background-color: #000000;
    border: 1px solid #000000;
    color: #ffffff;
    margin: 0 0 1.75em;
    padding: 0.5em;
}

header.failed {
    background-color: #e00000;
    border: 1px solid #e00000;
    color: #000000;
}

header.succeeded {
    background-color: #a0a0ff;
    border: 1px solid #a0a0ff;
    color: #000000;
}

header h1 {
	font-family: cursive;
	margin: 0;
}

/**
 * table.configuration
 * The table for configuration.
 */

.configuration {
    margin: 0 auto;
}

.configuration th{
    background-color: #000000;
    color: #ffffff;
	font-weight: normal;
    text-align: right;
    padding: 0.25em 0.5em 0.25em 1em;
}

/**
 * #difficulty-list
 * The list for difficulty.
 */

#difficulty-list {
    margin: 0;
    padding: 0;
}

#difficulty-list li {
    padding: 1px;
    float: left;
    list-style-type: none;
    text-align: center;
}

#difficulty-list li:hover {
	border: 1px solid #000000;
    padding: 0;
}



/**
 * #field
 * The main field of the game.
 */

#field {
	display: table;
	margin: auto;
	border-collapse: collapse;
}

#field .row {
	display: table-row;
}

#field .cell {
	display: table-cell;
	width: 60px;
	height: 60px;
	vertical-align: middle;
	border: 1px solid #000000;
	overflow: hidden;
	list-style-type: none;
}

#field .cell>opened {
	line-height: 40px;
	font-size: 20px;
	overflow: hidden;
}

#field .cell>opened.plain {
	line-height: 60px;
	font-size: 20px;
	background-color: #e0e0e0;
}

#field .cell>opened.something {
	background-color: #f00000; 
}


#field .clickable {
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	color: #ffffff;
	border: none;
}

#field .clickable:hover {
    background-color: #f0f0f0; 
    color: #f0f0f0; 
}

/**
 * #result
 * The information area for result.
 */

#result {
	position: relative;
}

#result #message {
    position: absolute;
    top: 0;
	z-index: -1;
}

#result #field {
	z-index: 0;
    margin: 0 auto;
}